---
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Perfumería Hebe - Tu perfumería en Antequera</title>
	</head>
	<body>
		<h1>Perfumería Hebe</h1>

		<section id="quienes_somos">
			<h2>Nuestra tienda</h2>

			<p>Perfumería Hebe abrió sus puertas en abril del año 1987 en el corazón de Andalucía: Antequera, Málaga. Desde su nacimiento, su principal objetivo ha sido ofrecer el mejor asesoramiento personalizado, gracias a la constante formación en manos de los mejores profesionales del sector, y poner a disposición de sus clientes una amplia variedad de productos de las mejores y más prestigiosas firmas del maravilloso mundo de la belleza y el lujo.</p>
			<p>Perfumería Hebe es, por tanto, un pequeño templo de belleza en el centro de la ciudad en el que podrás vivir una experiencia inolvidable a través de los aromas de sus exclusivas fragancias, la sensorialidad de sus magníficos productos y un auténtico viaje de paz y bienestar durante sus servicios de cuidado facial y corporal realizados en cabina.</p>
			<p>Para su gerente, María del Carmen López Benítez, después de 34 años al frente del negocio, su principal visión de futuro es seguir ofreciendo la mejor calidad y atención al cliente.</p>
		</section>

		<section id="mapa">
			<h2>¿Dónde estamos?</h2>

			<p>Nos puedes encontrar en <strong>Alameda de Andalucía, 6, Bajo, 29200 Antequera, Málaga.</strong></p>
			
			<a href="https://g.page/PerfumeriaHebe" rel=”noreferrer noopener”>Abrir en Google Maps</a>
		</section>
	</body>
</html>
